/* screen - home-page-hamilton */

.home-page-hamilton {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.home-page-hamilton .overlap-group11 {
  height: 860px;
  position: relative;
  width: 428px;
}

.home-page-hamilton .image-2 {
  height: 635px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 375px;
}

.home-page-hamilton .menu-rounded {
  height: 30px;
  left: 17px;
  position: absolute;
  top: 54px;
  width: 30px;
}

.home-page-hamilton .search {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 36px;
  left: 57px;
  padding: 8px;
  position: absolute;
  top: 51px;
  width: 299px;
}

.home-page-hamilton .magnifyingglass {
  border: 0.64px none;
  display: flex;
  height: 28px;
  margin-bottom: -4.00px;
  margin-top: -4.00px;
  min-width: 28px;
}

.home-page-hamilton .magnifyingglass-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 32.1px;
  text-align: center;
  white-space: nowrap;
  width: 28px;
}

.home-page-hamilton .placeholder-label {
  flex: 1;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -2.00px;
  white-space: nowrap;
}

.home-page-hamilton .controls-zoom-controls {
  align-items: center;
  background-color: var(--white);
  border: 0px none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #00000033;
  display: flex;
  flex-direction: column;
  left: 326px;
  min-height: 53px;
  padding: 8px 0;
  position: absolute;
  top: 525px;
  width: 28px;
}

.home-page-hamilton .union {
  height: 10px;
  width: 10px;
}

.home-page-hamilton .rectangle-2 {
  background-color: var(--celeste);
  border: 1px none;
  height: 1px;
  margin-top: 8px;
  width: 20px;
}

.home-page-hamilton .union-1 {
  height: 2px;
  margin-top: 12px;
  width: 10px;
}

.home-page-hamilton .bottom-drawer {
  align-items: flex-start;
  box-shadow: 0px -4px 4px #00000040;
  display: flex;
  height: 759px;
  left: 0;
  min-width: 420px;
  position: absolute;
  top: 101px;
}

.home-page-hamilton .line-1 {
  height: 1px;
  margin-left: -1888px;
  margin-top: -889.68px;
  width: 375px;
}

.home-page-hamilton .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 31px;
  display: flex;
  height: 759px;
  margin-left: 1513px;
  min-width: 375px;
  padding: 260px 28px;
}

.home-page-hamilton .magical-trails-in-hamilton {
  letter-spacing: -0.41px;
  line-height: 22px;
  min-width: 303px;
  white-space: nowrap;
}

.home-page-hamilton .group-46 {
  align-self: center;
  display: flex;
  margin-bottom: 351.0px;
  margin-left: 23px;
  width: 20px;
}

.home-page-hamilton .group-42-1 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 10px;
  display: flex;
  height: 20px;
  min-width: 20px;
}

.home-page-hamilton .vector {
  height: 11px;
  margin-left: -1884px;
  margin-top: -1507px;
  width: 12px;
}

.home-page-hamilton .top-attractions-in-hamilton {
  left: 28px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  top: 122px;
  white-space: nowrap;
}

.home-page-hamilton .i-os-status-bar-with-notch {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 21px;
  height: 44px;
  left: 0;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 375px;
}

.home-page-hamilton .time {
  align-self: center;
  letter-spacing: -0.32px;
  line-height: 21px;
  margin-left: 17px;
  margin-top: 1.0px;
  min-width: 25px;
  white-space: nowrap;
}

.home-page-hamilton .overlap-group1 {
  height: 31px;
  position: relative;
  width: 282px;
}

.home-page-hamilton .notch {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 219px;
}

.home-page-hamilton .i-os-icon-status-bar {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 2px;
  left: 217px;
  position: absolute;
  top: 15px;
  width: fit-content;
}

.home-page-hamilton .i-os-icon-small-mobile-signal {
  align-items: center;
  border: 1px none;
  display: flex;
  height: 16px;
  justify-content: center;
  min-width: 20px;
}

.home-page-hamilton .icon-bar_chart {
  height: 10.67px;
  margin-left: -1px;
  margin-top: 0.7px;
  width: 17px;
}

.home-page-hamilton .i-os-icon-small-wifi {
  align-items: center;
  border: 1px none;
  display: flex;
  height: 16px;
  justify-content: center;
  min-width: 16px;
}

.home-page-hamilton .icon-signal {
  height: 10.97px;
  margin-left: 0;
  margin-top: 1.0px;
  width: 15.27px;
}

.home-page-hamilton .i-os-icon-small-battery {
  height: 16px;
  min-width: 25px;
}

.home-page-hamilton .icon-close {
  height: 24px;
  left: 323px;
  position: absolute;
  top: 57px;
  width: 24px;
}

.home-page-hamilton .group-container-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 306px;
  min-height: 154px;
  position: absolute;
  top: 168px;
  width: 120px;
}

.home-page-hamilton .mask-group {
  height: 100px;
  width: 69px;
}

.home-page-hamilton .overlap-group1-1 {
  align-self: center;
  height: 42px;
  margin-right: 2.0px;
  position: relative;
  width: 102px;
}

.home-page-hamilton .name {
  left: 3px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .overlap-group {
  height: 22px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 41px;
}

.home-page-hamilton .text {
  left: 19px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .icon-star {
  height: 20px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 20px;
}

.home-page-hamilton .group-container-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 161px;
  min-height: 154px;
  position: absolute;
  top: 168px;
  width: 120px;
}

.home-page-hamilton .mask-group-1 {
  height: 100px;
  width: 120px;
}

.home-page-hamilton .overlap-group-1 {
  height: 43px;
  position: relative;
  width: 106px;
}

.home-page-hamilton .devils-punchbowl {
  left: 3px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-38 {
  display: flex;
  height: 22px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 42px;
}

.home-page-hamilton .icon-star-1 {
  height: 20px;
  margin-top: 1px;
  width: 20px;
}

.home-page-hamilton .text-1 {
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 20px;
}

.home-page-hamilton .group-41 {
  align-items: flex-end;
  background-color: var(--bittersweet);
  border-radius: 10px;
  display: flex;
  height: 20px;
  left: 86px;
  min-width: 20px;
  padding: 4.1px 4px;
  position: absolute;
  top: 21px;
}

.home-page-hamilton .icon-heart {
  height: 11px;
  width: 12px;
}

.home-page-hamilton .group-container-3 {
  border-radius: 10px;
  height: 154px;
  left: 17px;
  position: absolute;
  top: 168px;
  width: 120px;
}

.home-page-hamilton .group-container {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 0;
  min-height: 154px;
  position: absolute;
  top: 0;
  width: 120px;
}

.home-page-hamilton .overlap-group2 {
  height: 42px;
  margin-right: 12.0px;
  position: relative;
  width: 92px;
}

.home-page-hamilton .chedoke-falls {
  left: 13px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-42 {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 10px;
  display: flex;
  height: 20px;
  left: 92px;
  min-width: 20px;
  padding: 4.1px 4px;
  position: absolute;
  top: 127px;
}

.home-page-hamilton .group-container-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 306px;
  min-height: 154px;
  position: absolute;
  top: 620px;
  width: 120px;
}

.home-page-hamilton .overlap-group1-2 {
  height: 42px;
  margin-left: 8px;
  position: relative;
  width: 78px;
}

.home-page-hamilton .tew-falls {
  left: 27px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-container-5 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 161px;
  min-height: 154px;
  position: absolute;
  top: 620px;
  width: 120px;
}

.home-page-hamilton .devils-punchbowl-1 {
  left: 3px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-container-6 {
  border-radius: 10px;
  height: 154px;
  left: 17px;
  position: absolute;
  top: 620px;
  width: 120px;
}

.home-page-hamilton .group-container-7 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 306px;
  min-height: 154px;
  position: absolute;
  top: 397px;
  width: 120px;
}

.home-page-hamilton .overlap-group-3 {
  height: 42px;
  margin-left: 8px;
  position: relative;
  width: 83px;
}

.home-page-hamilton .the-french {
  left: 21px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-38-1 {
  display: flex;
  height: 22px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 43px;
}

.home-page-hamilton .text-2 {
  height: 22px;
  letter-spacing: -0.41px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 21px;
}

.home-page-hamilton .group-container-8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 161px;
  min-height: 154px;
  position: absolute;
  top: 397px;
  width: 120px;
}

.home-page-hamilton .the-mule-hamilton {
  left: 1px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .group-38-2 {
  display: flex;
  height: 22px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 43px;
}

.home-page-hamilton .group-41-1 {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 10px;
  display: flex;
  height: 20px;
  left: 86px;
  min-width: 20px;
  padding: 4.1px 4px;
  position: absolute;
  top: 21px;
}

.home-page-hamilton .group-container-9 {
  border-radius: 10px;
  height: 154px;
  left: 17px;
  position: absolute;
  top: 397px;
  width: 120px;
}

.home-page-hamilton .group-container-10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 0;
  min-height: 154px;
  position: absolute;
  top: 0;
  width: 120px;
}

.home-page-hamilton .overlap-group2-1 {
  height: 42px;
  margin-left: 8px;
  position: relative;
  width: 76px;
}

.home-page-hamilton .the-ship {
  left: 28px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-page-hamilton .hidden-gems-in-hamilton {
  left: 28px;
  letter-spacing: -0.41px;
  line-height: 22px;
  position: absolute;
  top: 351px;
  white-space: nowrap;
}
